.address {
    display: block;
}

&__logo-web {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
    letter-spacing: 0.03em;
}

&__logo-studio {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #FFFFFF;
    letter-spacing: 0.03em;
}

&__map:hover,
.address__map:focus {
    color: #2196F3;
}

&__map {
    font-family: 'Roboto';
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    color: #FFFFFF;
    letter-spacing: 0.03em;
}

&__email:hover,
.address__email:focus {
    color: #2196F3;
}

&__email {
    font-family: 'Roboto';
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
}

&__phone:hover,
.address__phone:focus {
    color: #2196F3;
}

&__phone {
    font-family: 'Roboto';
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
}

&__logo {
    text-decoration: none;
}

&__item-map,
.address__item-email {
    margin-bottom: 9px;
}

&__map,
.address__email,
.address__phone {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__item-map {
    margin-top: 20px;
}