.advantages {
    padding-top: 94px;
    padding-bottom: 94px;
}

&__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 0.03em;
}

&__text {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    letter-spacing: 0.03em;
}

&__list {
    display: flex;
    gap: 30px;
}

&-item {
    width: 270px;
}

&__text {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

&__title {
    margin-bottom: 10px;
    margin-top: 30px;
}

&__1,
&__2,
&__3,
&__4 {
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
