.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

&__header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

&__header {
    margin-bottom: 50px;
}

&__list {
    display: flex;
    gap: 30px;
}

&__item {
    width: calc((100% - 150px) / 6);
}

&__link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

&__icon {
    fill: #afb1b8;
}

&__link:hover,
&__link:focus {
    border: 1px solid #2196F3;
}

&__icon:hover,
&__icon:focus {
    fill: #2196F3;
}

&__link:hover &__icon {
    fill: #2196F3;
}

&__link:focus &__icon {
    fill: #2196F3;
}

&__link {
    transition-property: background-color, color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__icon {
    transition-property: background-color, color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}