.footer {
    background-color: #2F303A;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer {
    display: flex;
}

.footer__address {
    display: flex;
    margin-top: 20px;
}

.footer__box {
    display: flex;
    align-items: baseline;
}