.footer {
    background-color: #2F303A;
}

.footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center;
}

&__address {
    display: flex;
    margin-top: 20px;
}

&__box {
    display: flex;
    align-items: baseline;
}
