.header {
    border-bottom: 1px solid #ECECEC
}

&__container {
    display: flex;
    align-items: center;
}

&__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}